{% include 'core/navbar1.html' %}
{% load static %}


<div id="content-wrapper" class="mt-4" style="padding-top: 1%;">
    <div class="container-fluid">
        <div class="card mb-2 col-md-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/1.png' %}" style="padding-left: 20%;">
                    </div>
                    <div class="col-md-7">
                        <h1 class="text-center">What does the <span class="text-primary">RESUME</span> mean ?</h1>
                        <h3 class="mt-5 text-center">A resume is a formal document that summarizes a job applicant's
                            professional qualifications
                            for a position. It typically includes information about their work experience, education,
                            skills, and notable achievements. Resumes are often accompanied by a cover letter, which
                            highlights the most relevant details on the resume and expresses interest in the job or
                            company.
                        </h3>

                        <a href="{% url 'login' %}" class="d-flex justify-content-center mt-3"><button class="startBtn">Get Started</button></a>
                        

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Want to make a good Resume ?</h1>
                        <a href="https://youtu.be/y3R9e2L8I9E?si=Q1jaoHY8nRdgh0tq">
                            <h5 class="text-center">For more details click here for the link of the video </h5>
                        </a>
                        <div class="d-flex justify-content-center mt-3 mb-3"><img src="{% static 'img/resume.jpeg' %}"
                                style="width: 500px; height: 300px;" div>
                        </div>

                    </div>

                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h1 class="mt-5">What is <span class="text-primary">Applicant Tracking System-</span>ATS ?</h1>
                        <h4>An applicant tracking system - or ATS, for short - is a type of resume scanning software used
                            by recruiters and employers during the hiring process to collect, sort, scan, and rank the
                            job applications they receive for their open positions.
                            The applicant tracking system was initially created for large companies that are accustomed
                            to dealing with several thousand inbound job applications on a weekly basis. Today,
                            approximately 99% of Fortune 500 companies rely on ATS software to help streamline their
                            recruitment process. However, what began as a recruitment solution for large employers has
                            turned into a commonplace tool for companies of all shapes and sizes.</h4>
                            <a href="https://www.jobscan.co/resume-scanner" class="mt-3"><button class="startBtn">Check your ATS-Score</button></a>
                        


                    </div>

                </div>

            </div>

        </div>
    </div>